.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* necessary if the parent is a flex container */
  }
  .navbar
  {
    z-index: 1000;
    position: absolute;
    height: 13%;
    width: 100%;
    background-color: rgba(6, 24, 16, 0.747);
  }
  .navbar img{
    padding: 0;
  }

  .navbar {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
    flex-wrap: nowrap;
    color: white;

  }
  .nav-item{
    margin-left: 3%;
    white-space: nowrap; /* Prevent line breaks within text */
    color: white;

  }
  .navbar-nav .nav-link {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: white !important;
  }
  
  .navbar-nav .nav-item.active .nav-link {
    color: white !important;
  }
  
  .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle {
    color: white !important;
  }
  
  .navbar-nav .dropdown-menu .dropdown-item {
    text-align: center;
    color: rgb(0, 0, 0);
    box-shadow: 0 5px 5px -5px white;
    text-shadow: 2px 2px 5px rgba(243, 237, 237, 0.5);


  }
  .navbar .navbar-collapse {
    order: 1;
  }
  .navbar .nav-link:hover {
    border-bottom: 3px solid white;
    border-radius: 10px;
    box-shadow: 0 5px 5px -5px white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  }
  
  .navbar .disable {
    margin: 0%  0 0 25vw;
  }
  @media (max-width: 900px) {
    .navbar .navbar-collapse {
      order: 2;
    }
  
    .navbar .nav-link.disabled {
      order: 1;
    }
  }
