<section class="first min-h-screen text-center py-20 px-8 xl:px-0 flex flex-col justify-center">
  <span class="text-gray-400 text-lg max-w-lg mx-auto mb-2 capitalize flex items-center">{{ 'offerings.title' | translate }}
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-orange-600 ml-3 w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
    </svg>
  </span>
  <h1 class="text-white text-4xl md:text-5xl xl:text-3xl font-semibold max-w-3xl mx-auto mb-16 leading-snug">{{ 'offerings.subtitle' | translate }}</h1>
  <br/>
  <div class="grid-offer text-left grid sm:grid-cols-2 md:grid-cols-2 gap-5 max-w-5xl mx-auto">
    <div class="card bg-gray-800 p-10 relative">
      <div class="circle">
      </div>
      <div class="relative lg:pr-52">
        <h2 class="capitalize  mb-4 text-2xl xl:text-3xl">{{ 'offerings.cards.0.title' | translate }}</h2>
        <p class="text-gray-400" >{{ 'offerings.cards.0.description' | translate }}</p>
      </div>
      <div class="icon"></div>
    </div>
    <div class="card bg-gray-800 p-10 relative">
      <div class="circle">
      </div>
      <div class="relative lg:pl-48">
        <h2 class="capitalize  mb-4 text-2xl xl:text-3xl">{{ 'offerings.cards.1.title' | translate }}</h2>
        <p class="text-gray-400">{{ 'offerings.cards.1.description' | translate }}</p>
      </div>
    </div>
    <div class="card bg-gray-800 p-10 relative">
      <div class="circle">
      </div>
      <div class="relative lg:pr-44">
        <h2 class="capitalize  mb-4 text-2xl xl:text-3xl">{{ 'offerings.cards.2.title' | translate }}</h2>
        <p class="text-gray-400">{{ 'offerings.cards.2.description' | translate }}</p>
      </div>
    </div>
    <div class="card bg-gray-800 p-10 relative">
      <div class="circle">
      </div>
      <div class="relative lg:pl-48">
        <h2 class="capitalize  mb-4 text-2xl xl:text-3xl">{{ 'offerings.cards.3.title' | translate }}</h2>
        <p class="text-gray-400">{{ 'offerings.cards.3.description' | translate }}</p>
      </div>
    </div>
  </div>
</section>
