<section class="about-section">
    <div class="container">
        <div class="row">                
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <h2>Building Legacies Since 1960: Excellence in Construction and Project Management</h2>
                    </div>
                    <div class="text">Our journey in the construction industry began in 1960, alongside some of the most revered figures in architecture and construction across the Kingdom of Morocco. From the pioneering leadership of Master Abdelkader ben Salem, Master Elie azagury, and Master Zevaco to the visionary contributions of Master Albert ben Chetrite, Mr ABdelali Bennis et fils, and others including Mohammed Fikri Ben abdellah, Hamid guessous, Rachid Andaloussi, Said lahlou, and Mostafa Driouech, we inherited a rich legacy of knowledge and expertise.

                        This heritage, passed down through generations, forms the cornerstone of our identity. At C & F, we offer more than just consultancy and project management; we provide a transformative partnership throughout every critical phase of construction projects. Our commitment to excellence is grounded in the specialized discipline of Project Management (CPM), a pivotal skill that integrates cutting-edge tools and multidisciplinary knowledge. This approach ensures the successful execution of complex projects across diverse sectors including industrial, logistics, airport, medical, and hospitality.</div>
                  <!-- <div class="text">
                    We are here to serve you next level tutorial that currently in trend to match you with your expertise. Css3 transition is a learning website. where you can find many good quality content related to web development and tutorials about plugins. here we are using html, html5, css, css3, jquery & javascript along with inspirational UI design layout by professionals by using Photoshop and adobe allustrator.
                  </div> -->
                    <div class="btn-box">
                        <a href="#" class="theme-btn btn-style-one">Contact Us</a>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                  <div class="author-desc">
                    <h2>CEYEFE</h2>
                    <span>Consulting Group</span>
                  </div>
                    <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img title="Rahul Kumar Yadav" src="archi.png" alt=""></a></figure>
                 
                </div>
            </div>
          
        </div>
       <!-- <div class="sec-title">
                        <span class="title">Our Future Goal</span>
                        <h2>We want to lead in innovation & Technology</h2>
                    </div>
      <div class="text">
            We works on UI/UX and functionality as well so that a plugins comes with proper stucture & stunning looks which suits to your web app & website.
          </div>
           <div class="text">
            We take a small toolkit here and ride it well so that it is fit for your use. One who performs well and looks even better.
          </div>
           <div class="text">                
Here we are trying to give you all kinds of technical content, whether it is related to designing or functionality. We are creating content on a lot of languages and will continue to make it free of cost even if you use it without any problem. Which is a very important thing.
          </div>
           <div class="text">
            Here you can also share the content you create, if our technical team likes it, then we will also share it on our blog.
          </div>
           <div class="text">
            
In the end, I would say keep visiting our website and enjoy the quality content.
          </div> -->
    </div>
</section>