<section class="home">
  <div class="bio">
      <p class="text-moving" style="color: white;">{{ 'YOUR_NEEDS' | translate }}</p>
      <br/>
      <p class="text-moving2">{{ 'IN_ONE_ECOSYSTEM' | translate }}</p>
      <br/>
      <p class="text-moving">{{ 'ECO' | translate }}</p>
      <ul class="option">
          <li><span>{{ 'INTEGRATED_TEAM' | translate }}</span></li>
          <li><span>{{ 'MULTI_EXPERTS' | translate }}</span></li>
          <li><span>{{ 'KNOW_HOW' | translate }}</span></li>
          <li><span>{{ 'AFRICAN_CONSULTANCY' | translate }}</span></li>
      </ul>
  </div>
</section>