.home
{
    padding: 0;
    position: absolute;
    width: 100%;
    height: 120%;
    background-color: black;
    background-image: url('../../../public/vitrine.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
  justify-content: left;
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 30%;

    backface-visibility: calc(40);
    text-align: left; /* Align text to the left */
    overflow:hidden;


        
}
.home h1{

    text-transform:capitalize;
    color: whitesmoke;
    border-bottom: 0.5px solid white;
    text-shadow: 2px 2px 5px rgba(245, 238, 238, 0.5);
    display: inline-block; 
    border-radius: 10px;
    margin-left: 0; /* Align to the left */


}
.home .first-title
{

    margin-top: 30vh;
    margin-left: 0; /* Align to the left */


}
.home img {
  z-index: 100000;
  margin: 0% 0 0 0%;
  width: 35%; /* Ensure the width and height are equal to make it a perfect circle */
  height: 40%; /* Ensure the width and height are equal to make it a perfect circle */
  border-radius: 50%;
  object-fit: cover; /* Cover ensures the image covers the box while maintaining its aspect ratio */
}


.bio {
    margin: 30vh 0 0 5vw;

    justify-content: flex-start; /* Align content to the start */
    text-align: left; 
    max-width: 100%;
    overflow: hidden;
  }
  .bio p {
    margin-left: 0vw;
    
    background-color: transparent;
    text-shadow: 2px 2px 5px rgb(8, 1, 1);
    
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
    padding: 5px 15px;
    text-transform: uppercase;
    color: white;
    white-space: nowrap;
  }
  
  .bio .text-moving
  {
    color: rgb(240, 74, 13);
    font-size: 60px;
    
  }
  


 .option
{
    margin-top: 5%;

}
.option li
{
list-style: none;
text-shadow: 2px 2px 5px rgba(250, 249, 249, 0.5);
color: white;
font-size: 20px;
font-weight: 200;
position: relative;
top: 0;
}



@media (max-width: 1500px) {
  .bio{
    margin-left: 10vw;
    white-space:wrap;
  }
  .bio p {
    white-space:wrap;

  }
  .option{
    display: none;
  }
 
  
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
